{% extends 'chat/base.html' %}
{% load static %}
{% block body %}
<div class=" ">
    <div class='container mt-5'>
        <form>
            <h1 class="mb-1">Enter new password:</h1>
            <div class='form-group mb-3'>
                <input class='form-control new_password' type='password' placeholder='New Password' value="llk" name='new_password' minLength='6'
                    required />
            </div>
            <h1 class="mb-1">Confirm new password:</h1>
            <div class='form-group mb-3'>
                <input class='form-control re_new_password' type='password' placeholder='Confirm New Password' value="lldsfsfk" name='re_new_password'
                    minLength='6' required />
            </div>
            <button class='btn btn-primary' onclick="reset_password_confirm()" id="btn1" type='button'>Reset Password</button>
        </form>
        <div class="success mt-4">
            <p>Your password has been changed successfully. Close this browser and login.</p>
        </div>
        <div class="failed mt-4" >
            <p>An error occured please contact Admin.</p>
        </div>
    </div>
</div>
<style>
    .success, .failed {
        display: none;
    }
</style>
<script>
    let uid = "{{uid}}"
    let token = "{{token}}"
    let new_password = document.querySelector(".new_password").value;
    let re_new_password = document.querySelector(".re_new_password").value;
    console.log(new_password, re_new_password)
    const reset_password_confirm = async () => {
        const body = JSON.stringify({ uid, token, new_password, re_new_password });

        try {

            let url = `{{ activation_url }}/api/v1/users/reset_password_confirm/`
            const response = await fetch(url, {
                method: "post",
                body: body,
                headers: {
                    'Content-Type': 'application/json'
                }
            })

            document.querySelector("#btn1").setAttribute('disabled', '')

            if (!response.ok) {
                return document.querySelector(".failed").style.display = "block"
            }

            document.querySelector(".success").style.display = "block"

        } catch (err) {
            console.log(err)
        }
    };
</script>
{% endblock %}